.about-container{
 
    padding  : 100px 100px;
}
.about-container{
    background-color: rgb(232, 255, 247);
     display: flex;
    justify-content: space-between;
    padding-top: 50px;
}
.about-container img{
    height: 300px;
   padding: 0 13px 0 0;
    float: left;
}
.about-container h1{
    margin: auto;
    padding-top: 60px;
    padding-bottom: 0px;
}
.about-container p{
    margin-right: 15px;
}
.about-container .text{
    text-align: justify;
}
.about h1{
    padding-top: 60px;
    padding-bottom: 0px;

}
